
@font-face {
  font-family: "fabian";
  src: url("fabian.ttf");
  font-weight: normal;
}
@import url("//netdna.bootstrapcdn.com/bootstrap/3.0.0-rc2/css/bootstrap-glyphicons.css");



h1{
  font-family: "fabian", sans-serif;
}

#infoMsg {
  color: white;
}

#formMsg {
  color: white;
}


.row {
  display:flex;
margin:20px;

}

.car {
  margin-left: 10px !important;
}

body {
   background-image: url(Images/nightsky.jpeg);
   background-repeat: no-repeat;
   background-position: center;
   background-attachment: fixed;
}

.jumbotron {
    margin-bottom: 0px;
    background-image: url(Images/nightsky.jpeg);
    background-position: 0% 25%;
    background-size: cover;
    background-repeat: no-repeat;
    font-family: 'fabian', sans-serif;
    font-size: 70px !important;
    color: brown !important;
    text-shadow: 3px 3px 2px #efefef;
    text-align: center;
    color: brown;
    width: 100%;
    height: 100%;
    background-size: cover;
    overflow: hidden;
    position:absolute;
    position: relative;
    padding: 50px;
}


#formid {
  display: none;
}
.dialog{
  border-radius: 15px;
  padding:10px;
  background: rgba(51, 51, 52, 0.95);
  position:absolute;
  display:none;
  z-index: 99;
  margin: auto;
  text-align: center;
}
.dialog label{
  display:inline-block;
  color:#cecece;
}
input[type=text]{
  border:1px solid #333;
  display:inline-block;
  margin:5px;
}
