.row {
  display:flex;
margin:20px;

}

/*body {
   background-image: url(drive-in-sign.jpg);
   background-repeat: no-repeat;
   background-position: center;
   background-attachment: fixed;

}*/*/

/*.jumbotron {
    margin-bottom: 0px;
    background-image: url(drive-in-sign.jpg);
    background-position: 0% 25%;
    background-size: cover;
    background-repeat: no-repeat;
}*/

.jumbotron {
    margin-bottom: 0px;
    opacity: 0.5;
    background: #000 url(drive-in-sign.jpg) center center;
    width: 100%;
    height: 100%;
    background-size: cover;
    overflow: hidden;


  position:absolute;
  top:0;left:0;
  z-index:1;
}
.jumbotron {position:relative;padding:50px;}
.jumbotron .container {z-index:2;
 position:relative;
  z-index:2;
}

#formid {
  display: none;
}
